 

<div class="container-fluid bg-grey">
    <div class="container">
        <div class="row ">
            <div class="col-md-9 mt-3">
 
                    <div *ngFor='let prod of produtos;let i=index' class="row bg-white mt-2">
                        <div class="col-md-1">
                            <img src="{{prod.imagem}}" width="50px" >
                        </div>
   
                       <div class="col-md-6 d-flex justify-content-center mt-3">
                           <p>{{prod.nome}}</p> 
                       </div>
   
                       <div class="col-md-2 mt-3">
                           <input [(ngModel)]='quant' type="text" class="w-50 text-center" disabled >
                       </div>
   
                       <div class="col-md-2 mt-3">
                           <p>R$ {{prod.preco | number: '1.2'}}</p> 
                       </div>
   
                       <div class="col-md-1 mt-3">
                           <a routerLink='/cesta' (click)='excluir(i)'>Excluir</a>
                       </div>
   
                    </div>
           
                 
            </div>

        <div class="col-md-2 mt-3 mb-4 me-5 ms-auto">
            <div class="card" style="width: 15rem;">

                <div class="card-body">
                
                    <div class="form-group">
                        <label for="frete">Frete</label>
                        <input [(ngModel)]='frete' type="text" class="form-control" disabled>
                    </div>

 
                    <div class="mt-5">
                        <h5>Total </h5>
                        <div class="form-group d-flex align-items-center mt-3">
                            <label for="total">R$: </label>
                            <input [(ngModel)]='total' type="text" disabled class="form-control ms-3 w-50">
                        </div>    
                    </div>

                    <div class="mt-5 d-flex justify-content-center">
                        <button class="btn btn-primary" routerLink='/pagamento'>Finalizar Compra</button>
                    </div>

                </div>
            </div>
        </div>

        </div>

    </div>

</div>
