<div class="container-fluid bg-grey">
    <div class="container bg-white">
        <div class="row p-5">
            <div class="col-md-12 d-flex justify-content-center ">
                <h2>Atendimento</h2>
            </div>
        </div>

        <div class="row d-flex justify-content-center mt-3 ms-auto me-auto">
            <div class="col-md-2">
                <button class="btn btn-outline-primary p-3 w-100">Compras</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary p-3  w-100">Cancelamento</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary  w-100">Formas de Pagamento</button>
            </div>
        </div>

        <div class="row  d-flex justify-content-center p-4 ">
            <div class="col-md-2">

                <button class="btn btn-outline-primary p-3 w-100">Compre e Retire</button>
            </div>
            <div class="col-md-2">
                <button class="btn btn-outline-primary p-3 w-100 ms-4">Contato</button>
            </div>
        </div>
    </div>


    <div class="container bg-white mt-5">
        <div>
            <h5 class="d-flex justify-content-center p-3">DUVIDAS SOBRE COMPRAS</h5>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aspernatur id esse dolorum laboriosam? Odit, impedit dolorum qui perferendis voluptatum labore deleniti quisquam perspiciatis esse harum, at consectetur dolores amet cupiditate.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque quibusdam repudiandae dolorum, praesentium beatae quasi iste fugit ea, numquam rem ullam nemo repellat, in reiciendis qui? Cupiditate similique minima quibusdam.
            </p>
        </div>
    </div>

 

</div>