 
<div class="container-fluid bg-light">

  <div class="container-fluid" style="background-color: rgb(226, 226, 226);">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner" >
        <div class="carousel-item active  mt-3 mb-3">
          <img src="https://imgur.com/dvnJZ2b.jpg" class="d-block ms-auto me-auto" width="1200px" height="340px">
        </div>
        <div class="carousel-item  mt-3 mb-3">
          <img src="https://imgur.com/clTfKdE.jpg" class="d-block ms-auto me-auto" width="1200px" height="340px">
        </div>
        <div class="carousel-item  mt-3 mb-3">
          <img src="https://imgur.com/5Q23A0Q.jpg" class="d-block ms-auto me-auto" width="1200px" height="340px">
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>

    <div class="row">
        <div class="col-md-12 mt-5">
            <h2>Ofertas da semana</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-4">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Medicamento 500mg</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
                  
                </div>
              </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 mt-5">
            <h2>Produtos mais vendidos</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12 d-flex justify-content-center mt-5 mb-5">
            <div class="card" style="width: 18rem;">
                <img src="" class="card-img-top" alt="">
                <div class="card-body">
                  <h5 class="card-title">Shampoo Pantene</h5>
                  <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  <div class="d-flex justify-content-center">
                    <a href="#" class="btn btn-primary">Comprar</a>
                  </div>
                  
                </div>
              </div>
        </div>
    </div>
</div>
