<div class="container-fluid bg-grey">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2 mt-3 mb-4">
                <div class="card" style="width: 15rem;">
  
                    <div class="card-body">
                        <h5 class="card-title">Marca</h5>
                        <ul class="p-2">
                            <li><a href="">Primeira marca</a></li>
                            <li><a href="">Segunda marca</a> </li>
                            <li><a href="">Terceira marca</a></li>
                        </ul>

                        <h5 class="card-title mt-5">Descontos</h5>
                        <ul class="p-2">
                            <li><a href="">Laboratório</a></li>
                            <li><a href="">Descontos da semana</a> </li>
                            <li><a href="">Exclusivos</a></li>
                        </ul>

                    </div>
                </div>
            </div>

            <div class="col-md-2 mt-3 ms-5">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of
                            the card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>